@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Bahij;
    font-weight: 100;
    src: url("Resources/Font/Bahij_TheSansArabic-ExtraLight") format("opentype");
}

@font-face {
    font-family: Bahij;
    font-weight: 200;
    src: url("Resources/Font/Bahij_TheSansArabic-SemiLight.otf") format("opentype");
}

@font-face {
    font-family: Bahij;
    font-weight: 300;
    src: url(Resources/Font/Bahij_TheSansArabic-ExtraLight.otf) format("opentype");
}

@font-face {
    font-family: Bahij;
    font-weight: 500;
    src: url("Resources/Font/Bahij_TheSansArabic-SemiBold.otf") format("opentype");
}


@font-face {
    font-family: Bahij;
    font-weight: 600;
    src: url("Resources/Font/Bahij_TheSansArabic-Bold.otf") format("opentype");
}

@font-face {
    font-family: Bahij;
    font-weight: 700;
    src: url("Resources/Font/Bahij_TheSansArabic-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Bahij;
    src: url("Resources/Font/Bahij_TheSansArabic-ExtraLight.otf") format("opentype");
}

.mjaio{
    position: absolute;
    bottom: 100px;
    right: 380px;
    text-align: right;
}
.mjaio img{
    width: 30%;

}
button {
    font-family: Bahij !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #E5F2EF !important;
    color: #054739 !important;

}


.mjk {
    background-color: #007F60 !important;
    color: #fff !important;
}

body {

    background-color: #F5F5F5 !important;

    font-family: Bahij !important;
}

.ma-icon {
    margin-bottom: 15px;
    display: block;
    font-size: 50px;
    color: #007F60;

}

table {
    text-align: center;
    margin: auto;
    width: 60%;
}

#employee_data {
    width: 100% !important;
}

td {
    font-size: 12px;
    font-weight: 500;

    vertical-align: top;
}

.sd {
    margin-top: 60px;
}

.nmbjiu {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    right: 30px;
    top: 35px;
}

.gh {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #007F60;
    font-weight: 500;
}

.ma-alltable .ma-back {
    top: -24px;
    right: 15px;
}

.nmbjiu a {
    color: #007F60 !important;
}

.nmbjiu .fas {
    color: #4e4e4e;
}

.rowone {
    width: 88px;
    padding: 10px 0px;
    color: #007F60;
    font-size: 15px;

}

.row {
    width: 100%;
}

.table > thead:first-child > tr:first-child > td {
    border: 0px;
}

.ma-alltable .ma-back {
    margin: 0px;
}

.ma-alltable .hj {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 3px;
}

.nmbjiu .fas.fa-hands-usd {
    margin-right: 15px;
    margin-top: 10px;
}

div.dataTables_wrapper div.dataTables_filter {
    margin-right: 26px;
    text-align: left !important;
}

div.dataTables_wrapper div.dataTables_info {
    margin-left: 26px;
    margin-top: 18px;
}

div.dataTables_wrapper div.dataTables_length label {
    margin-left: 26px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #007F60 !important;
    border-color: #007F60 !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1455px !important;
}

.table-responsive, .container {
    width: 100% !important;
}

.table-responsive {
    direction: rtl;
}

#employee_data_wrapper {
    width: 100%;
}

.container {
    width: 90%;
    padding: 0px !important;
    margin: auto !important;
}

.ma-alltable {
    background-color: #fff;
    position: relative;
    border-radius: 20px;
    height: 100vh;
}

.allp {
    background-color: #F5F5F5;
    padding: 40px;
}

.MA-vistitem {
    width: 55%;
    height: 700px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 6px 1px rgb(100 98 98 / 30%);
    padding: 37px 0px 21px;
    display: block;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    direction: rtl;
}

.MA-backimage {
    width: 85%;
    box-shadow: 0px 0px 6px 1px rgb(100 98 98 / 30%);
    background-image: url(image/BG/login-bg111.jpg);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-repeat: no-repeat;
    background-size: 77%;
    overflow: hidden;
    direction: rtl;
    position: relative;

    background-position: 0px;
}

.hj:hover {
    background-size: 200% 100%;
    background-position: -100% 0%;

}

.row2 {
    border: 0px;
    width: 100%;
    vertical-align: middle;
    border: 1px solid #A8ABB0;
    border-radius: 12px;
    padding: 11px 20px;
    box-sizing: border-box;

    background-color: #fff !important;
}

.ruy {
    margin-bottom: 35px;
    font-weight: 700;
}

select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: green;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;

}

.xcwe {
    position: relative;
}

.fas.fa-eye {
    cursor: pointer !important;
}

.xcwe i {
    position: absolute;
    left: 21px;
    color: #DEE2E5;
    top: 57px;

}

.er {
    display: inline-block;

    font-size: 16px;
    font-weight: 500;
}

.uio {
    margin: 12px 0px 10px 0px;
    color: black;
    font-size: 13px;
    font-weight: 500;
}

.kl {
    display: inline-block;
    font-size: 29px;
    margin-left: 12px;
    color: #7dd05d;
}

.ret {
    color: #A8ABB0;
}

.hj {
    margin-top: 30px !important;
    background-image: linear-gradient(to right, #189c57, #7dd05d);
    color: #fff;
    background-size: 100% 100%;
    background-position: 0% 0%;
    transition: all 0.7s;
}
.ma-iu{
    pointer:c
}
.ma-opas {
    width: 400px;
    display: inline-block;
    background-color: #fff;
    padding: 45px 40px;
}
.fv{
    font-size: 13px !important;
    color: #2E8B57 !important;
}
.fg {
    margin-top: 12px;
}

.vc {
    margin-bottom: 55px !important;
}

.qw {
    margin-top: 115px;
}

.dropdown-list {
    text-align: center;
}

.ma-rt {
    height: 160px;
    /* box-shadow: 0px 0px 4px #888; */
    border-radius: 17px;
    display: inline-block;
    margin: 0 15px 30px 15px;
    position: relative;
    overflow: hidden;
    width: 160px;
    transition: all 0.3s;
    border: solid 3px #B1D8CE;
    background: #fff;
    font-size: 18px;
    color: #4e4e4e;
    font-weight: 500;

}

.ma-rt:hover .ma-icon {
    color: #fff !important;

    transition: 0.5s ease-in-out;
}

.ma-rt:hover {
    background: #007F60;
    color: #fff;
    border: solid 3px #007F60;
}

.ma-left {
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    border-radius: 23px;
}

.ma-back, .ma-back1, .ma-back2, .ma-back3 {
    position: absolute;
    right: 25px;
    border-radius: 75px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: #EEF0F2;
    border: 0px;
    top: 10px;
}

.ma-back:hover, .ma-back1:hover, .ma-back2:hover, .ma-back3:hover {
    opacity: 0.7;
}

.ma-span {
    text-align: center;
    font-size: 30px;
    margin: 65px auto 65px auto;
    color: #007F60;
    font-weight: 900;

}

.ma-header span {
    color: #007F60 !important;
    font-size: 20px;
    font-family: Bahij;
    margin: 15px 0px;
    display: block;
    font-weight: 500;
}

.ma-header .fa-hands-usd {
    color: #007F60 !important;
    font-size: 20px;

}

.hj {
    vertical-align: middle;
    margin-top: 4px;
}

.ma-left1 {
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    border-radius: 23px;
}

.ma-left2 {
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    border-radius: 23px;
    top: 0;
}

.ma-left3 {
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0px;
    border-radius: 23px;
}

.so input {
    color: black;
    text-align: center !important;
    width: 95%;
    vertical-align: middle;
    border: 2px solid #CFCFCF;
    border-radius: 13px;
    padding: 14px 17px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.dropdown{
    background-color: #fff;
    margin: 10px;
    border-radius: 15px;
    width: 65px;
    display: block;
}
.dropdown-menu{
    margin-top: 7px !important;
    border-radius: 10px!important;
    padding: 10px 0px 10px 11px!important;
    width: 30px!important;
    border: 0px !important;
}
.MA-vistitem.edit1 .nmbjiu{
    position: static !important;
}


.dropdown-menu a{
    color: #2E8B57;
    font-size: 13px;
    font-weight: 500;
}
.qw-ty{
    font-size: 20px;
    color: #007F60;
}
.qw-ty .fas.fa-user{
    padding: 20px;
}

.qw-ty .fas.fa-sort-down{
    font-size: 11px;
    position: relative;
    left: -14px;
    color: #4e4e4e;
    top:-5px;
}
a {
    text-decoration: none !important;
}
.ma-header {
    margin-bottom: 70px;
    border-bottom: 1px solid #CFCFCF;
    text-align: center;
}
.ma-header.yu {
    margin-bottom: 5px !important;
}
.ma-add {
    color: #fff !important;
    font-weight: 600;
    background-color: #054739;
    border: 0px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 195px !important;
    padding: 11px 0px !important;
    font-size: 18px;
    margin: 0px 5px;

}
select {
    border: 0px;
}

.ma-tu {
    text-align: center;
    margin-top: 110px;
}
.ma-add:hover {
    opacity: 0.7;
}
input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none!important;;
    -moz-box-shadow: none!important;;
    -webkit-box-shadow: none!important;;
}
input[type="text"]:focus{
    box-shadow: 0 0 0 rgb(255, 255, 255);
}

input[type="checkbox"]:focus{
    box-shadow: 0 0 0 rgb(255, 255, 255);
}
.nameFoo2 .ma-header {
    margin-bottom: 30px;
}

.nameFoo2.so .ma-tu {
    margin-top: 35px;
}

.ma-left3 .ma-tu {
    margin-top: 155px;
}

.two {
    background-color: #fff;
    border: 2px solid #007F60 !important;
    color: #054739 !important;
}

.two:hover {
    opacity: 0.5;
}

.ma-background {
    position: relative;
}
.dropdown-toggle::after {
   display: none!important;
}
.dropdown-toggle{
    cursor: pointer;
}


    #SivaDiv {
        background-image: url('image/BG/Receipt-exp.jpg');
        width: 170%;


        position: absolute;
        left: -210px;
        top: -80px;
    }

    @media print {
        .nameFoo {
            position: absolute;
            top: 22%;
            left: 30%;
            width: 100%;
        }
        .MA-vistitem{
            margin: 100px auto auto auto;!important;
        }
        .so input {
            border: 0;
            padding: 5px 17px;
            font-size: 18px;
            margin-bottom: 7px;
        }
        .rowone{
            display: none;
        }
        .ma-tu{
            display: none !important;
        }
    }